<div class="container mt-4 mb-5">
  <div class="row justify-content-center">
    <div style="text-align: center;">
      <h4 style="text-decoration: underline; color: #4CAF50; font-weight: bolder;">NotifyMe</h4>
      <p>Search for vaccination slots • Get alertified when available</p>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-12">
      <div class="card bg-pattern">
        <div class="card-body p-4">
          <div class="col-md-12 col-lg-12 col-xl-12">
            <label style="font-size: 16px;">Select State :</label>
            <select class="form-control" (change)="getDistrict($event)">
              <option value="">Select State</option>
              <option *ngFor="let state of stateList" value="{{state.state_id}}">{{state.state_name}}
              </option>
            </select>
          </div>
          <div class="col-md-12 col-lg-12 col-xl-12 mt-3">
            <label style="font-size: 16px;">Select District :</label>
            <select class="form-control" (change)="openModal();setDistrictValue($event);getSlotData()">
              <option value="">Select District</option>
              <option *ngFor="let district of districtList" value="{{district.district_id}}">{{district.district_name}}
              </option>
            </select>
          </div>
          <table class="mt-4 mb-2 table">
            <thead>
              <th>Date</th>
              <th>Center</th>
              <th>Vaccine Name</th>
              <th>Age</th>
            </thead>
            <tbody>
              <tr *ngFor="let group of availableSlot; let i = index">
                <td>{{allSessions[i]?.date}}</td>
                <td>{{group.name}} - <b>{{group.pincode}}</b></td>
                <td>{{allSessions[i]?.vaccine}}</td>
                <td>{{allSessions[i]?.min_age_limit}}+</td>
              </tr>
            </tbody>
            <tbody *ngIf="!availableSlot[0]">
              <tr>
                <td colspan="4" style="text-align: center;color: rgb(201, 78, 78);"><b>Slot Not Available</b></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div style="text-align: center;" *ngIf="mobile" class="mb-4">
        <div class="YINnv mt-5" style="margin-left: auto; margin-right: auto;"></div>
        <br>
        <span>Last update from CoWIN - {{lastUpdateOn | date:'medium'}}</span>
      </div>
      <div *ngIf="!mobile" class="eHijbr kbWEyx mt-5 mb-4">
        <div class="YINnv"></div><span>Last update from CoWIN - {{lastUpdateOn | date:'medium'}}</span>
      </div> -->
    </div>
  </div>
  <div class="col-md-12 jumbotron" style="text-align: center;">
    <strong>Disclaimer:</strong> This web app uses CoWin open API to make it easy for you to find slots. Availability
    changes in real time. So book your slot ASAP using <a
      href="https://selfregistration.cowin.gov.in">https://selfregistration.cowin.gov.in</a>.<br>
    <br>For any support <a target="_blank" href="https://www.linkedin.com/in/hiteshkotharinn">@hiteshkotharinn</a>

    <div class="mt-4" style="text-align: center;" *ngIf="mobile && selectedDistrictId">
      <!-- <div class="YINnv mt-4" style="margin-left: auto; margin-right: auto;"></div>
      <br> -->
      <span>Last update from CoWIN - {{lastUpdateOn | date:'medium'}}</span>
    </div>
    <div *ngIf="!mobile && selectedDistrictId" class="eHijbr kbWEyx mt-2">
      <div class="YINnv"></div><span>Last update from CoWIN - {{lastUpdateOn | date:'medium'}}</span>
    </div>

  </div>
</div>

<audio #audioOption>
  <source src='https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3' type="audio/mp3">
</audio>

<ng-template #sucess let-modal="close">
  <div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="modalReference.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <p>Thank you for subscribing to <b>NotifyMe</b> - we have recorded your slot preferences. We will alertify you as soon as a slot opens up.</p>
  </div>
  <div class="modal-footer">
    <p style="color: rgb(201, 78, 78);margin-right: auto;"><small><b>Don't Close This Tab, You Can Minimize Browser<sup>*</sup></b></small></p>
    <button type="button" class="btn btn-outline-dark" (click)="modalReference.close('Close click')">OK</button>
  </div>
</ng-template>