td,
th {
	border: 1px solid #ddd;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #ddd;
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}

hr.head {
	border: 1px solid #4CAF50;
	border-radius: 1px;
}

.eHijbr {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	place-content: center;
	-webkit-box-pack: center;
}

.kbWEyx {
	min-height: 64px;
}

.YINnv {
	border-radius: 50%;
	margin-right: 0.5em;
	height: 12px;
	width: 12px;
	transform: scale(1);
	background: rgb(139, 194, 73);
	box-shadow: rgb(139 194 73) 0px 0px 0px 0px;
	animation: 2s ease 0s infinite normal none running gpGOrD;
}

@keyframes gpGOrD {
	0% {
		transform: scale(0.95);
		box-shadow: rgb(139 194 73 / 70%) 0px 0px 0px 0px;
	}
	70% {
		transform: scale(1);
		box-shadow: rgb(51 217 178 / 0%) 0px 0px 0px 10px;
	}
	100% {
		transform: scale(0.95);
		box-shadow: rgb(51 217 178 / 0%) 0px 0px 0px 0px;
	}
}